
.details-box{
	flex-grow: 1;
	overflow: hidden;
	.details-container{
		.details-main{
			text-align: left;
			padding: .1rem;
			line-height: .24rem;
			img{
				width: 100%;
			}
			p{
				text-indent: .1rem;
			}
		}
	}
}